<ion-view title="<img src='assets/logo-smart2.png'>">
    <ion-content class="padding colored-icon">
        <gvm-messages name="connectionStatus"></gvm-messages>
        <gvm-messages></gvm-messages>
        <ul class="tile-list">
            <li class="tile-item {{menu.icon}}" ng-repeat="menu in newmenus | filter:currentModuleMenuInDesktop" ng-click="go(menu.url)" on-hold="dButton(menu, false)">
                <div class="font3 padding-top" ng-bind="menu.name"></div>
            </li>
        </ul>
    </ion-content>
</ion-view>