<ion-view title="Login" class="login-view">
	<ion-content padding="false">
		<div class="login-header">
			<div class="spacer" style="height: 20px;"></div>
			<div class="logo">
				<img src="assets/logo-smart1.png"></div>
			<div class="spacer" style="height: 40px;"></div>
		</div>
		<form class="padding" name="loginForm" novalidate="" ng-submit="login(user)">
			<gvm-messages name="connectionStatus"></gvm-messages>
			<gvm-messages></gvm-messages>
			<div class="list">
				<label class="item item-input" ng-class="{ 'has-error' : loginForm.login.$invalid && loginForm.$submitted}"> <i class="icon ion-person placeholder-icon"></i>
					<input type="text" name="login" ng-model="user.login" autocorrect="off" autocapitalize="on" placeholder="Seu login do portal" required></label>
				<div class="spacer" style="height: 10px;"></div>
				<label class="item item-input" ng-class="{ 'has-error' : loginForm.senha.$invalid && loginForm.$submitted}"> <i class="icon ion-locked placeholder-icon"></i>
					<input type="password" name="senha" ng-model="user.senha" placeholder="Sua senha aqui" required></label>
			</div>
			<div class="button-bar"></div>
			<button type="submit" ng-disabled="loginForm.$submitted && loginForm.$invalid" class="button accent button-block">Entrar</button>
		</form>
	</ion-content>
</ion-view>