<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar>
            <ion-nav-buttons side="left">
                <button class="button button-icon ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon ion-ios-bell-outline" menu-toggle="right">
                    <span class="badge badge-notification" ng-show="!!noticeStats.info.naoVistas" ng-bind="noticeStats.info.naoVistas"></span>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu class="colored-icon" side="left">
        <ion-content>
            <div>
                <div class="perfil item item-dark item-text-wrap" ng-click="showMenuOpts = !showMenuOpts">
                    <div ng-if="sidemenuData.fotoUrl" class="foto" style="background-image: url({{sidemenuData.fotoUrl}})"></div>
                    <div class="nome">
                        {{sidemenuData.descricao}}
                        <i ng-class="{'ion-arrow-down-b':!showMenuOpts, 'ion-arrow-up-b':showMenuOpts}"></i>
                    </div>
                    <div class="text-center {{extra.class}}" ng-repeat="extra in sidemenuData.extradata" ng-bind="extra.descricao"></div>
                </div>
            </div>
            <ul class="list" ng-show="showMenuOpts">
                <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
                <ion-item class="item-icon-left item-dark" ng-click=" $parent.$parent.showMenuOpts = false; pfMenu.action() " ng-repeat="pfMenu in sidemenuData.profileMenus | filter: currentProfileMenu | orderBy:['order']"> <i class="icon {{pfMenu.iconCls}}"></i> {{pfMenu.descricao}}
                </ion-item>
            </ul>
            <ul class="list" ng-hide="showMenuOpts">
                <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
                <ion-item class="item-icon-left" ng-click="go(menu.url)" ng-repeat="menu in newmenus | filter: currentModuleMenu | orderBy:['order', 'name']" on-hold="dButton(menu, true)"> <i class="icon {{menu.icon}} "></i> {{menu.name}}
                </ion-item>
                <ion-item class="item-icon-left" ng-click="logout()">
                    <i class="icon ion-android-exit"></i> Sair
                </ion-item>
            </ul>
        </ion-content>
    </ion-side-menu>
    <ion-side-menu class="colored-icon" side="right" ng-controller="NotificacoesCtrl">
        <ion-header-bar class="bar-header bar-dark">
            <h1 class="title">Notificações</h1>
            <button type="button" ng-click="setAllRead()" ng-if="notices.items.length > 0" class="button button-icon button-dark ion-android-done-all"></button>
        </ion-header-bar>
        <ion-content class="has-header">
            <gvm-messages name="notificacoes"></gvm-messages>
            <ion-refresher spinner="android" pulling-text="Solte para carregar..." on-refresh="pullRefresh()"></ion-refresher>
            <div class="list">
                <div class="item item-icon-left" ng-class="{'item-opaque':notice.lida}" ng-click="readNotice(notice)" ng-repeat="notice in notices.items | orderBy:'criadoEm':true">
                    <i class="icon {{notice.classe}} item-item-image"></i>
                    <span ng-bind="notice.id"></span>
                    <h2 ng-bind="notice.assunto | textTruncate:75"></h2>
                    <p style="float:left;" ng-bind="notice.criadoEm | date: medium"></p>
                    <p class="text-right">Ver mais</p>
                    <p class="font6" ng-bind="notice.targetName"></p>
                </div>
            </div>
            <ion-infinite-scroll ng-if="hasPrevious()" on-infinite="prevPage()"></ion-infinite-scroll>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
