<ion-view view-title="Ajuda">
    <ion-content class="view-ajuda" delegate-handle="content">
        <gvm-messages name="connectionStatus"></gvm-messages>
        <gvm-messages></gvm-messages>

        <div class="list list-inset" >
            <div class="item item-input"> 
                <i ng-if="mv.busca" ng-click="mv.busca = ''" class="icon ion-close placeholder-icon"></i>
                <i ng-if="!mv.busca" class="icon ion-search placeholder-icon"></i> 
                <input type="text" ng-model="mv.busca" placeholder="Pesquisar">
            </div>
        </div>

        <div class="list">
            <div class="item item-divider font3" ng-repeat-start="secao in secoes | filter:filterFunction | orderBy:'title'">{{secao.title}}</div>
            <ol class="toc padding-bottom" ng-if="secao.questoes && secao.questoes.length >
                1">
                <li class="toc-item font5" ng-repeat="questao in secao.questoes | orderBy:'title'">
                    <div ng-click="scrollToEl(questao.slug, 'content')" ng-bind-html="questao.title | highlight:busca"></div>
                </li>
            </ol>
            <ol class="">
                <li ng-repeat="questao in secao.questoes | orderBy:'title'">
                    <h5 class="text-bold" id="{{questao.slug}}" ng-bind-html="questao.title | highlight:busca"></h5>
                    <p ng-bind-html="questao.text | highlight:busca"></p>
                </li>
            </ol>
            <div ng-repeat-end></div>
        </div>
    </ion-content>
</ion-view>