<ion-view view-title="Configurações">
    <ion-content class="">
        <gvm-messages name="connectionStatus"></gvm-messages>
        <gvm-messages></gvm-messages>
        <div class="list">
            <div class="item item-divider text-bold">Perfil</div>
            <div class="item item-text-wrap" ng-click="activeDevMode()">
                <p class="text-left" style="float: left;">Nome</p>
                <p class="text-right">{{nome}}</p>
            </div>

            <div class="item item-divider text-bold" ng-if="tiposPush.length >0">Notificações Push</div>
            <div class="item item-toggle" ng-repeat="(key, values) in tiposPush | groupBy: 'desc' ">
                <p class="text-left" style="float: left;">{{key}}</p>
                <label class="toggle">
                    <input type="checkbox" ng-checked="isChecked(values)" ng-click="changePushOption(values,$event)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>

            <div class="list" ng-repeat="reminder in reminders" style="margin-bottom:0px;">
                <div class="item item-divider text-bold">{{reminder.name}}</div>
                <label class="item item-input item-select">
                    <div class="input-label"><p class="text-left" style="float: left;">Tempo para {{reminder.name.toLowerCase()}}</p></div>
                    <select ng-options="option.value as option.desc for option in reminder.options"
                            data-tap-disabled="{{ selectTapFix() }}"
                            ng-model="reminder.time"
                            ng-change="reminder.alterTimeToShow(reminder)"></select>
                </label>
            </div>
            <div class="item item-divider text-bold">Feedback</div>
            <div class="item" ng-click="toggleModalFeedback()">
                <p>Enviar feedback sobre o aplicativo</p>
            </div>
            <div class="item item-divider text-bold">Sobre</div>
            <div class="item" ng-click="toggleModalVersao()">
                <p>Versão</p>
            </div>
            <div class="item" ng-click="go('/main/ajuda')">
                <p>Ajuda</p>
            </div>
            <div class="item" ng-click="logout()">
                <p>Sair do aplicativo</p>
            </div>
        </div>

    </ion-content>
</ion-view>