@import "themeFunctions";

$primary: ${theme.primary};
$accent: ${theme.accent};

.contato.col {
	font-size: 14px;
	margin-bottom: 0px;
	padding-left: 0;

	.icon {
		color: primary-color("P400");
		font-size: 18px;
	}
}