<ion-view view-title="Canais de Contato">
    <ion-content class="has-header">
        <gvm-messages name="connectionStatus"></gvm-messages>
        <gvm-messages></gvm-messages>
        <div class="list">

            <div ng-repeat="setor in data.items" class="item item-text-wrap">
                <span class="text-bold" ng-bind="setor.nome"></span>
                <p class="padding-bottom" ng-bind="setor.observacao"></p>

                <div class="row responsive-sm">
                    
                    <div class="contato col" ng-repeat="contato in setor.contatos" ng-click="openLink(contato)">
                            <i class="icon {{getIconClass(contato)}}"></i>
                            {{getText(contato)}}
                    </div>

                </div>

            </div>

        </div>
    </ion-content>
</ion-view>