$tablet: 'min-width: 45em';

gvm-gauge {
    padding: 4px 0;
    @media(#{$tablet}) {
        padding: 7px 0 6px 0;
    }
}

gvm-gauge {
    position: relative;
    display: flex;
    padding: 10px;
    .gvm-gauge {
        position: relative;
    }
    .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-color: #cccccc;
        background-size: cover;
        background-position: top center;
        border: 2px white solid;
        box-sizing: border-box;
    }
}
